@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    width: 90%;
}

input:focus {
    outline: none;
}
.calc-container{
    border: 2px solid silver;
    border-radius: 5px;
    width: 20%;

}